:root {
    --white: #ffffff;
    --primary: #707070;
    --secondary: #e3874f;
    --yellow: #FFC700;
    --default: #37363d;
    --coffee: #886a4a;
    --dark: #0c1401;
    --gold: #FFA41B;

    --red:#ff2e63;
    --black:#252a34;
    --blue:#08d9d6;
    --dark-color: #1a1a1a;
    --white-color: #ffffff;
    --light-grey-color: #f5f5f5;
    
    --title:2em;
    --subtitle:1.6em;
    --text:.85em;
}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Tahoma, serif;
}

body {
    background: var(--white);
    font-size: 18px;
    width: 100%;
}

.container {
    width: 90%;
    margin: auto;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.btn {
    background: var(--dark);
    font-size: var(--text);
    color: var(--white);
    text-transform: uppercase;
    padding: .5rem 2rem;
    border: 1px solid transparent;
    border-radius: 50px;
}

/*
 * ─── OFERTAS ──────────────────────────────────────────────────────────────────────────
 */

 .offertas {
     width: 100%;
     padding: 5px 0;
     background: #e3874f;
     color: var(--white);
     text-align: center;
     /* display: none; */
 }


/*
 * ─── HEADER ─────────────────────────────────────────────────────────────────────
 */
header {
    background: transparent;
    position: relative;
    overflow: hidden;
}
.navbar{
    width: 90%;
    position: absolute;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0;
    z-index: 10;
}
/*
 * ─── MENU HAMBURGUESA ───────────────────────────────────────────────────────────
 */
.navbar .menu-hamburguesa {
    display: none;
    border: 1px solid var(--white);
    color: var(--white);
    padding: .5rem 1rem;
    font-size: .7em;
}
.navbar .items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .item {
    margin-left: 3rem;
}
.navbar a.link {
    border: 1px solid transparent;
    padding: .3rem .5rem;
    font-size: .7em;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 2px;
}
.navbar a.link:hover {
    border: 1px solid var(--white);
} 
.hero{
    position: relative;
    height: 100vh;
}
.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .75;
    z-index: 1;
}
/* cambiar por video */
.hero img {
    width: 100%;
    height: 100%;
}
.contenido-hero{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
}
.contenido-hero h1 {
    font-size: 3em;
    color: var(--gold);
    /* border: 2px solid var(--white); */
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: .5em;
    margin: 1rem 0;
}
.contenido-hero p {
    text-transform: uppercase;
    color: var(--secondary);
    letter-spacing: 1px;
    font-size: var(--text);
}
.contenido-hero .btn-hero {
    padding: .5rem 3em;
    /* border-radius: 50px; */
    background: var(--secondary);
    border-color: var(--secondary);
    color: var(--white);
    text-transform: uppercase;
}
.contenido-hero .btn-hero:hover {
    background: var(--dark);
}

/*
 * ─── REDES SOCIALES ─────────────────────────────────────────────────────────────
 */

.redes-sociales {
    position: fixed;
    top: 30%;
    left: 5%;
    z-index: 500;
}
.redes-sociales li{
    margin-bottom: 2rem;
}
.redes-sociales a {
    display: inline-block;
    color: var(--white);
}
.redes-sociales a:hover {
    transform: scale(1.1);
}

.flecha-abajo {
    position: absolute;
    left: 50%;
    bottom: 5%;
    width: 50px;
    height: 50px;
    background: rgba(0,0,0, .6);
    border-radius: 50%;
    padding-top: .8rem;
    color: var(--white);
    cursor: pointer;
    text-align: center;
    transform: translateX(-50%);
    z-index: 150;
}
.flecha-abajo:hover {
    background: rgba(0,0,0, .9);
}



/*
 * ─── INFO ───────────────────────────────────────────────────────────────────────
 */
    
.info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    padding: 0 3rem;
    overflow: hidden;
}
.main-info{
    min-width: 35%;
    padding: 2rem;
}
.titulo-info{
    color: var(--default);
    font-size: var(--title);
    margin: 1rem 0;
}
.p-info{
    margin: 2rem 0;
    font-size: var(--text);
    letter-spacing: 1.1px;
    line-height: 1.8;
    opacity: .6;
}
.btn-info{
    color: var(--yellow);
}
.img-info{
    min-width: 60%;
    padding: 2rem;
    position: relative;
}
.img-info::before{
    content: '';
    min-width: 100%;
    height: 90%;
    top: -10%;
    right: -150px;
    background-color: var(--dark);
    position: absolute;
    z-index: -1;
}

.img-info img {
    width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

/*
 * ─── PRECIOS ────────────────────────────────────────────────────────────────────
 */

 .precio-titulo {
     color: var(--dark);
     font-size: 2.5em;
     font-weight: 700;
     text-align: center;
 }
.precio-desc {
    color: var(--default);
    font-size: 1em;
    margin: 1rem 0;
    text-align: center;
}
.precios{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 3rem auto;
}
.precio{
    flex: 1;
    max-width: 300px; 
    background-color: var(--dark-color);
    color: white;
    padding: 2rem 3rem;
    margin: 0 1em;
    border-radius: 7px;
    box-shadow: 0 0 7px rgba(0,0,0, .6);
}
.precio:hover {
    background-color: var(--yellow);
    transform: scale(1.05);
    transition: all .3s;
}
.precio:hover h2, 
.precio:hover h3, 
.precio:hover ul li {
    color: var(--default);
}
.precio:hover button {
    color: var(--white);
    background-color: var(--dark);
}
.precio h2,
.precio h3,
.precio ul li{
    margin: 1rem 0;
}
.precio h2 {
    font-size: 1em;
    text-align: center;
    opacity: .8;
}
.precio h3 {
    font-size: var(--title);
    text-align: center;
    margin: 1rem 0;
}
.precio ul li {
    font-size: .8em;
    color: var(--light-grey-color);
    letter-spacing: 1.2px;
    margin: 1.5rem 0;
    /* padding: 0 1rem; */
}
.precio button{
    width: 100%;
    background-color: transparent;
    border: 2px solid  var(--yellow);
    color: var(--yellow);
    margin-top: 2rem;
}
.precio button:hover{
    background-color: white;
    color: var(--default);
}

/*
 * ─── IMAGENES ───────────────────────────────────────────────────────────────────
 */

    
.img-barcos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5rem 0;
}
picture{
    margin: 30px;
}
picture img{
    width: 100% ;
    min-height: 250px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}


/*
 * ─── FOTTER ──────────────────────────────────────────────────────────────────────────
 */
.footer{
    width: 100%;
    margin-top: 50px;
    background: #000;
    border-top: 5px solid var(--gold);
}
.formulario-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
}
.formulario-contacto {
    min-width: 50%;
    text-align: center;
}
.formulario-contacto h3 {
    color: var(--white);
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.formulario-contacto p {
    color: var(--yellow);
    font-size: .8em;
    margin: 1.5rem 0;
}
.footer .formulario-content #formulario{
    min-width: 50%;
    padding: 2rem;
}
.footer .formulario-content #formulario label{
    color: var(--default);
    font-size: .75em;
}
.footer .formulario-content #formulario input,
.footer .formulario-content #formulario textarea{
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    font-size: .8em;
    padding: .7rem 1rem;
    margin: .5rem 0 1rem 0;
}
.footer .formulario-content #formulario .send{
    margin: 1rem auto;
    max-width: 350px;
}
.footer .formulario-content #formulario button{
    width: 100%;
    padding: .5rem 1rem;
    font-size: .85em;
    font-weight: bold;
    background: var(--white);
    border: none;
    border-radius: 50px;
    color: var(--dark);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}
.footer .formulario-content #formulario button:hover{
    background: var(--yellow);
}
.footer .formulario-content #formulario p{
    font-size: .9em;
    color: var(--gold);
    opacity: .5;
    letter-spacing: 1.1px;
    line-height: 1.5;
}
.copy {
    padding: 1rem 0;
    border-top: 1px solid #111;
}
.copy p {
    color: var(--light-grey-color);
    text-align: center;
    font-size: .8em;
}






/*
 * ─── MEDIA QUERIES ──────────────────────────────────────────────────────────────────────────
 */

@media (max-width: 720px) {
    body {
        font-size: 16px;
    }
    .navbar {
        justify-content: space-between;
    }
    .navbar .items {
        display: none;
    }
    .navbar .menu-hamburguesa {
        display: block;
    }
    .precios,
    .info,
    .img-barcos,
    .formulario-content {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }
    .img-barcos picture {
        margin: 2rem 0;
    }
    .precios .precio {
        margin: 2rem auto;
    }
}

@media (max-width: 320px) {
    body {
        font-size: 14px;
    }
    .precios,
    .info,
    .formulario-content {
        display: block;
    }
}
